 <div class="container">
 <div class="border border-dark onion jumbotron bg-white">
  <h1 class="display-3 text-center">Mongo News Scraper</h1>
  <p class="lead text-center">See What's Going on at The Onion!</p>
  <hr class="my-2">
  <p class="lead">
    
      
     
      
        <div class="row">
          <div class="col-md-5">
          
      <a class="btn-lg bkgrd text-white  m-1" href="/scrape-art" role="button">Scrape</a>
   
      </div>
        </div>
      

      
    
  
  </p>
</div>
<div class="row">

  <span>
    {{#each article}}
    <div class="card m-1 border border-dark onion">
  <div class="card-body">
    <h4 class="card-title text-left">{{this.title}} </h4>
       
       
    <p class="card-text m-1">
     {{this.body}} 
    </p><br>
    <a class="m-1 onion" href={{this.link}}><p class="text center">Go to Article</p></a>
    <br>
     <div class="row m-1">
    <div class="col-md-6">
    <form action="/articles/{{this.id}}" method="POST" class="card-panel">
        <h5>Comment on this Article</h5>
       <div class="form-group">
    <label for="formGroupExampleInput">Note Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title" name="name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Comment" name="body">
  </div>
  
 <button class="btn bkgrd text-white" type="submit" value="Submit">Add Comment</button>
      
   </form>     
  </div>
    
    
    <div class="col-md-6">
        <h5>Comments:</h5>
        {{#if this.comment}}
        {{#each comment}}
        
        <div class="card">
            <p class="onion">{{this.name}}</p>
            <p class="onion">{{this.body}}<p>
               <form action="/article/comment/{{this.id}}/delete" method="POST">
            <p>{{article.id}}</p>
            <input type="submit" class="btn btn-danger" data-id="{{this.id}}" value="Delete">
          </form>
        </div>
        {{/each}}
        {{else}}
        <p>No Comments Yet.</p>
        
        {{/if}}
</div>
    </div>
</div>
      </div>
      </div>
    </p>
  
  </div>
  </div>
  </div>
  {{/each}}
  </span>
</div>


