 <div class="row m-1">
    <div class="col-md-6">
    <form action="/articles/{{article.id}}" method="POST" class="card-panel">
        <h5>Comment on this Article</h5>
       <div class="form-group">
    <label for="formGroupExampleInput">Note Title</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Title" name="name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Comment" name="body">
  </div>
  
 <button class="btn bkgrd text-white" type="submit" value="Submit">Add Comment</button>
      
   </form>     
  </div>
    
    
    <div class="col-md-6">
        <h5>Comments:</h5>
        {{#if article.comment}}
        {{#each article.comment}}
        
        <div class="card">
            <p class="onion">{{name}}</p>
            <p class="onion">{{body}}<p>
        </div>
         <form action="/comment/" method="POST">
            <p>{{article.id}}</p>
            <input type="submit" class="btn btn-danger" data-id="{{comment.id}}" value="Delete">
          </form>
        {{/each}}
        {{else}}
        <p>No Comments Yet.</p>
        
        {{/if}}
</div>
    </div>

  